<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% for message in @user.errors.full_messages %>
        <%= message %>
    <% end %>
  <% end %>
   <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "textInput" %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, class: "textInput" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: "textInput" %>
  </div>
  
  <div><%= f.submit "create account", class: "button" %></div>
<% end %>

